.input:focus {
    box-shadow: none;
}
.input {
    border : 0.8px solid rgba(203, 213, 225, 1);
}
.label {
    font-size: 14px;
    color : rgba(0, 0, 0, 1);
}
.editprofile_main_div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}
.editprofile_bg_div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
}
.w-full {
    width: 100%;
    flex-grow: 1;
    margin-left: 0%;
    padding-left: 0%;
}